

<div class="intro"> 
  <h1 >Welcome to the Alexander Hamilton Society Attendence Tracker </h1>
  <p> This chapter's mission is to further the goals and purpose of the national 
  organization of the Alexander Hamilton Society through speaker events to further 
  knowledge and discussion of foreign, economic, and national security affairs 
  among Texas A&M students especially within the fields of international relations, 
  public policy, history, political science and economics.  </p>
</div>




