<h1>Editing Ranking</h1>

<%= render 'form', ranking: @ranking %>

<div class="d-flex justify-content-center">
  <%= link_to 'Show', @ranking, class: "button-style-white" %> |
    <%= link_to 'Back', rankings_path, class: "button-style-white" %>
</div>

