<h1> List of event attended </h1>
<table class="table-style" style="word-wrap: break-word">
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <%# Display attendance history of user %> 
    <% current_user.attendance_history.order('event_start DESC').each do |attendance| %>
      <tr>
        <td><%= link_to Event.where(id: attendance.event_id).last.event_title, event_path(attendance.event_id), class: "no-hover custom-hover-blue", style:"color: rgb(58, 130, 212); font-weight: bold; font-size: 16px;" %></td>
        <td><%= Event.where(id: attendance.event_id).last.event_start.to_s(:short) %> to <%= Event.where(id: attendance.event_id).last.event_end.to_s(:short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%= link_to 'Back', :back, class: "button-style-blue" %>
</div>

