<!-- source: https://mdbootstrap.com/snippets/standard/mdbootstrap/2884987?view=side -->
<!-- Footer -->
  <div class="navbar text-center text-lg-start text-white ahs-color">
    <!-- Grid container -->
    <div class="container p-4 pb-0">

      <hr class="mb-4" />
  
      <!-- Social media -->
      <section class="mb-4 text-center">
        <!-- Facebook -->
        <a
           class="btn btn-outline-light btn-floating m-1 social-button neon-blue"
           href="https://www.facebook.com/hamsoc/"
           role="button"
           target="_blank" 
           rel="noreferrer noopener"
           ><i class="fab fa-facebook-f"></i
          >
        </a>
  
        <!-- Twitter -->
        <a
           class="btn btn-outline-light btn-floating m-1 social-button neon-blue"
           href="https://twitter.com/hamiltonsoc"
           role="button"
           target="_blank" 
           rel="noreferrer noopener"
           ><i class="fab fa-twitter"></i
          >
        </a>
  
        <!-- Linkedin -->
        <a
           class="btn btn-outline-light btn-floating m-1 social-button neon-blue"
           href="https://www.linkedin.com/groups/4517010/"
           role="button"
           target="_blank" 
           rel="noreferrer noopener"
           ><i class="fab fa-linkedin-in"></i
          >
        </a>
        <h5 class="ahs-text"> The Alexander Hamilton Society </h5>

        
      </section>
      
      <br>
    </div>
    <!-- Grid container -->
  </div>
  <!-- Footer -->
