<h1>Editing Event</h1>

<%= render 'form', event: @event %>

<div class="d-flex justify-content-center">
    <%= link_to 'Show', @event , class: 'button-style-white' %> |
    <%= link_to 'Back', events_path, class: 'button-style-white' %>
</div>

