<h1>New Admin Request</h1>

<%= render 'form', admin_request: @admin_request %>

<div class="d-flex justify-content-center">
  <%= link_to 'Back', admin_requests_path , class: 'button-style-white' %>
</div>