/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
// source: https://mdbootstrap.com/docs/standard/extended/profiles/ 
.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

// Navigation bar
.ahs-color {
  background: #364459;
}

.ahs-text {
  color: #f5f8fc !important;
  font-family: EB Garamond;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase; 
  text-decoration: none;
  line-height: 1em;
}

.no-hover:hover {
  background-color: transparent;
}

.social-button {
  border-radius: 50%;
  color: white !important;
  text-align: center; 
  text-decoration: none;
}

.container-fluid{
  padding: 0 !important;
}
