<h1>Editing Attendance</h1>

<%= render 'form', attendance: @attendance %>

<div class="d-flex justify-content-center">
    <%= link_to 'Show', @attendance, class: 'button-style-white'  %> |
    <%= link_to 'Back', attendances_path, class: 'button-style-white'  %>
</div>

