<h1 class="my-5">New Attendance</h1>

<%= render 'form', attendance: @attendance %>

<div class="d-flex justify-content-center">
    <p style="color: grey;"><em>If the page does not change, Confirm event selection and password are correct</em></p>
</div>


<br><br>
<div class="d-flex justify-content-center">
    <%= link_to 'Back', events_path, class: 'button-style-blue' %>
</div>
