<h1>New Attendance</h1>

<%= render 'form', attendance: @attendance %>
<p id="notice"><%= notice %></p>
<p><em>If the page does not change, Confirm event selection and password are correct</em></p>

<br><br>
<%= link_to 'Back', events_path %>
