<h1>New Attendance</h1>

<%= render 'form', attendance: @attendance %>
<p><em>If the page does not change when you click Create Attendance, that likely means the password was incorrect for the selected event</em></p>

<br><br>
<%= link_to 'Back', events_path %>
