<h1>New Attendance</h1>

<%= render 'form', attendance: @attendance %>

<p id="notice"><%= notice %></p>
<div class="d-flex justify-content-center">
    <p><em>If the page does not change, Confirm event selection and password are correct</em></p>
</div>


<br><br>
<div class="d-flex justify-content-center">
    <%= link_to 'Back', events_path, class: 'button-style-blue' %>
</div>

